<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>table th, table td {padding: 5px;}</style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>last name</th>
            <th>email</th>
        </tr>

        <tr>
            <td th:text="${user.get().getId()}">Id</td>
            <td th:text="${user.get().getName()}">Name</td>
            <td th:text="${user.get().getLastName()}">Last Name</td>
            <td th:text="${user.get().getEmail()}">Email</td>
        </tr>
    </table>

<br/>

<title> Logout:</title>
<a th:href="@{/logout}"> Good Bye! </a>
</body>
</html>